In [1]:
import pandas as pd
import numpy as np

In [2]:
visit = pd.read_csv("visitorCount.csv",dtype=str)
a = visit.melt( id_vars=['time'])
# a.to_csv("visitorMelt.csv")

In [3]:
movement = pd.read_csv("movements.csv")
movement = movement.astype('category')
len(movement)

34794

In [4]:
stations = pd.read_csv("stations.csv")
stations['double_count'] = False

In [5]:
stations[stations['serial']=="000000007b5207b6"]

,Unnamed: 0,serial,address,postalcode,city,country,description,latitude,longitude,group,alias,double_count
12,12,000000007b5207b6,Torikadun sisaankaynti,530,Helsinki,Finland,Hakaniemen kauppahalli 2,60.17919,24.95181,default,NaN,False

In [6]:
any(movement[movement['hash']=='013c76b508f0d5d70b060e9f7248771ef4314b90b811f7b0b1734824'].groupby(['time']).size() > 1)

True

In [7]:
# df = pd.DataFrame(columns=['Hash',"Serial"])
mat = np.array([])
for i in movement.groupby(['hash','serial']).size()[0:70].index:
    try:
        if(i[0] == a[0]):
            mat = np.append(mat,np.array(a))
            mat = np.append(mat,np.array(i))
    except:
        pass
    a = i
    
mat = mat.reshape(int(len(mat)/2),2)
mat

array([['013c76b508f0d5d70b060e9f7248771ef4314b90b811f7b0b1734824',
        '00000000675d5200'],
       ['013c76b508f0d5d70b060e9f7248771ef4314b90b811f7b0b1734824',
        '000000007b5207b6'],
       ['016e01d8e16c52bd849d02fe550c259b5351f458312c808367bf8105',
        '00000000675d5200'],
       ['016e01d8e16c52bd849d02fe550c259b5351f458312c808367bf8105',
        '000000007b5207b6']], dtype='<U56')

In [8]:
for row in mat:
    if(any(movement[movement['hash']==row[0]].groupby(['time']).size() > 1)):
        a = stations[stations['serial']==row[1]].index[0]
        stations.at[a,'double_count'] = True

# stations.to_csv("stations_dbl_count.csv")

In [9]:
hashToAddress = dict(list(zip(stations['serial'].values,stations['address'].values)))
hashToAddress

{'0000000006dd41f6': 'Munkkisaarenlaituri',
 '000000000f4919c9': 'Mannerheimintie 22-24',
 '0000000019fb59c4': 'Tyynenmerenkatu 8',
 '00000000342570c2': 'Sibeliuksen puisto',
 '0000000038bf9618': 'Mattolaituri',
 '0000000038d83d41': 'Pakkahuoneenlaituri',
 '000000004ef3150d': 'Tyynenmerenkatu 14',
 '0000000053c6c2be': 'Katajanokanlaituri, valopylvas',
 '00000000675d5200': 'Paasisaankaynti',
 '000000006b087f40': 'Kaivokatu 2',
 '000000006b44cce7': 'Etelaranta',
 '0000000074f765a7': 'Toolonlahdenranta 1',
 '000000007b5207b6': 'Torikadun sisaankaynti',
 '0000000096918cfa': 'Lutherinkatu 3',
 '00000000a53ed894': 'Hernesaarenlaituri',
 '00000000aa852af1': 'Alexanterinkatu 24',
 '00000000afef4555': 'Pohjoisespa 41',
 '00000000b33a8357': 'Narikkatorin sisaankaynti',
 '00000000cd16b8ef': 'Alexanterinkatu 20',
 '00000000d747f075': 'Katajanokanlaituri 8',
 '00000000e8a064a4': 'Munkkisaarenlaituri',
 '00000000f1124bca': 'Olympiaranta 1',
 '00000000fb7600be': 'Katajanokka',
 '00000000fdda10fe': 'Erottajankatu 11',
 '00000000fffb8cf0': 'Paalaituri'}

In [10]:
from sklearn.preprocessing import normalize
weather = pd.read_csv("Helsinki_weather_data.csv", dtype=str)
weather['Time'] = weather['d'] + "/" + weather['m'] + "/" +  weather['Year'] + " "+ weather['Time']
# normalize(weather[['Cloud amount (1/8)','Pressure (msl) (hPa)','Relative humidity (%)',
#                   'Precipitation intensity (mm/h)','Snow depth (cm)','Air temperature (degC)',
#                   'Dew-point temperature (degC)','Horizontal visibility (m)','Wind direction (deg)',
#                   'Gust speed (m/s)','Wind speed (m/s)']], axis=1).ravel()
# weather[['Cloud amount (1/8)','Pressure (msl) (hPa)']]
# weather.to_csv("weather_mod.csv")

In [11]:
from datetime import datetime
new = pd.DataFrame()
weather['time'] = weather['Time'].apply(lambda x:  datetime.strptime(x,'%d/%m/%Y %H:%M'))
visit['time'] = visit['time'].apply(lambda x:  datetime.strptime(x,'%d/%m/%Y %H:%M'))
# sum(new['w_time'] == new['v_time'])

In [12]:
weather.drop(columns='Time',inplace=True)
weather.dtypes

Year                                      object
m                                         object
d                                         object
Time zone                                 object
Cloud amount (1/8)                        object
Pressure (msl) (hPa)                      object
Relative humidity (%)                     object
Precipitation intensity (mm/h)            object
Snow depth (cm)                           object
Air temperature (degC)                    object
Dew-point temperature (degC)              object
Horizontal visibility (m)                 object
Wind direction (deg)                      object
Gust speed (m/s)                          object
Wind speed (m/s)                          object
time                              datetime64[ns]
dtype: object

In [13]:
visit.rename(columns=hashToAddress,inplace=True)
visit

,time,Munkkisaarenlaituri,Mannerheimintie 22-24,Tyynenmerenkatu 8,Sibeliuksen puisto,Mattolaituri,Pakkahuoneenlaituri,Tyynenmerenkatu 14,"Katajanokanlaituri, valopylvas",Paasisaankaynti,...,Alexanterinkatu 24,Pohjoisespa 41,Narikkatorin sisaankaynti,Alexanterinkatu 20,Katajanokanlaituri 8,Munkkisaarenlaituri,Olympiaranta 1,Katajanokka,Erottajankatu 11,Paalaituri
0,2019-08-10 00:00:00,3,3,0,8,82,14,0,2,1,...,4,9,0,0,0,3,0,13,16,2
1,2019-08-10 00:30:00,4,0,2,6,54,13,0,2,0,...,5,4,0,0,0,2,0,9,13,2
2,2019-08-10 01:00:00,3,0,0,6,3,18,0,3,6,...,5,5,0,0,0,1,0,8,17,2
3,2019-08-10 01:30:00,3,0,4,5,4,18,0,2,6,...,7,10,0,0,0,2,0,6,14,2
4,2019-08-10 02:00:00,4,0,1,6,2,7,0,3,2,...,4,13,0,0,0,2,0,9,16,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2019-08-19 21:30:00,4,4,0,1,0,17,0,4,4,...,11,2,0,0,0,4,0,12,18,2
476,2019-08-19 22:00:00,3,7,0,1,0,18,0,4,5,...,19,1,0,0,0,4,0,10,15,2
477,2019-08-19 22:30:00,2,3,2,1,0,16,0,2,0,...,17,1,0,0,0,4,0,9,24,2
478,2019-08-19 23:00:00,4,4,3,2,0,15,0,4,3,...,14,0,0,0,0,4,0,13,17,2
479,2019-08-19 23:30:00,3,4,2,1,0,18,0,4,6,...,12,1,0,0,0,4,0,14,18,2

In [14]:
output = visit.set_index('time').join(weather.set_index('time'),how="left",rsuffix = "_").reset_index()
output.to_csv('joined_Visit_Weather_updated.csv')
output

,time,Munkkisaarenlaituri,Mannerheimintie 22-24,Tyynenmerenkatu 8,Sibeliuksen puisto,Mattolaituri,Pakkahuoneenlaituri,Tyynenmerenkatu 14,"Katajanokanlaituri, valopylvas",Paasisaankaynti,...,Pressure (msl) (hPa),Relative humidity (%),Precipitation intensity (mm/h),Snow depth (cm),Air temperature (degC),Dew-point temperature (degC),Horizontal visibility (m),Wind direction (deg),Gust speed (m/s),Wind speed (m/s)
0,2019-08-10 00:00:00,3,3,0,8,82,14,0,2,1,...,1012,95,0,-1,13.2,12.4,20530,9,0.8,0.5
1,2019-08-10 00:30:00,4,0,2,6,54,13,0,2,0,...,1012.1,96,0,-1,13.1,12.5,19660,338,1.3,0.9
2,2019-08-10 01:00:00,3,0,0,6,3,18,0,3,6,...,1012,96,0,-1,12.8,12.3,18820,37,1.2,0.7
3,2019-08-10 01:30:00,3,0,4,5,4,18,0,2,6,...,1012.1,96,0,-1,12.6,12,20310,51,1.6,1
4,2019-08-10 02:00:00,4,0,1,6,2,7,0,3,2,...,1012.2,97,0,-1,12.7,12.2,13830,37,1.2,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2019-08-19 21:30:00,4,4,0,1,0,17,0,4,4,...,1013.8,82,0,-1,16.3,13.2,37110,246,6.2,3.1
476,2019-08-19 22:00:00,3,7,0,1,0,18,0,4,5,...,1013.9,83,0,-1,15.9,13.1,34600,234,3.7,2.3
477,2019-08-19 22:30:00,2,3,2,1,0,16,0,2,0,...,1013.9,87,0,-1,15.7,13.5,32370,229,3.7,2.3
478,2019-08-19 23:00:00,4,4,3,2,0,15,0,4,3,...,1014,87,0,-1,16.2,14,26330,227,5.2,3
479,2019-08-19 23:30:00,3,4,2,1,0,18,0,4,6,...,1014,87,0,-1,16.2,14,24050,228,5.2,3.1

In [15]:
output

,time,Munkkisaarenlaituri,Mannerheimintie 22-24,Tyynenmerenkatu 8,Sibeliuksen puisto,Mattolaituri,Pakkahuoneenlaituri,Tyynenmerenkatu 14,"Katajanokanlaituri, valopylvas",Paasisaankaynti,...,Pressure (msl) (hPa),Relative humidity (%),Precipitation intensity (mm/h),Snow depth (cm),Air temperature (degC),Dew-point temperature (degC),Horizontal visibility (m),Wind direction (deg),Gust speed (m/s),Wind speed (m/s)
0,2019-08-10 00:00:00,3,3,0,8,82,14,0,2,1,...,1012,95,0,-1,13.2,12.4,20530,9,0.8,0.5
1,2019-08-10 00:30:00,4,0,2,6,54,13,0,2,0,...,1012.1,96,0,-1,13.1,12.5,19660,338,1.3,0.9
2,2019-08-10 01:00:00,3,0,0,6,3,18,0,3,6,...,1012,96,0,-1,12.8,12.3,18820,37,1.2,0.7
3,2019-08-10 01:30:00,3,0,4,5,4,18,0,2,6,...,1012.1,96,0,-1,12.6,12,20310,51,1.6,1
4,2019-08-10 02:00:00,4,0,1,6,2,7,0,3,2,...,1012.2,97,0,-1,12.7,12.2,13830,37,1.2,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,2019-08-19 21:30:00,4,4,0,1,0,17,0,4,4,...,1013.8,82,0,-1,16.3,13.2,37110,246,6.2,3.1
476,2019-08-19 22:00:00,3,7,0,1,0,18,0,4,5,...,1013.9,83,0,-1,15.9,13.1,34600,234,3.7,2.3
477,2019-08-19 22:30:00,2,3,2,1,0,16,0,2,0,...,1013.9,87,0,-1,15.7,13.5,32370,229,3.7,2.3
478,2019-08-19 23:00:00,4,4,3,2,0,15,0,4,3,...,1014,87,0,-1,16.2,14,26330,227,5.2,3
479,2019-08-19 23:30:00,3,4,2,1,0,18,0,4,6,...,1014,87,0,-1,16.2,14,24050,228,5.2,3.1

In [281]:
accuracy = pd.DataFrame()
for hashs in hashToAddress.keys():
    try:
        a = pd.read_csv(hashs+"Prediction.csv")
        a['station'] = hashToAddress[hashs]
        a['Time'] = pd.date_range(start='19/8/2019', end='20/8/2019',freq="120s")
        accuracy = accuracy.append(a)
#         print(a.head())
    except:
        pass


accuracy.to_csv("accuracyPlot.csv")
accuracy

     prediction  actual            station                Time
0      1.196832     0.1  Tyynenmerenkatu 8 2019-08-19 00:00:00
1      1.198250     0.3  Tyynenmerenkatu 8 2019-08-19 00:02:00
2      1.293079     0.2  Tyynenmerenkatu 8 2019-08-19 00:04:00
3      1.188204     0.0  Tyynenmerenkatu 8 2019-08-19 00:06:00
4      1.144793     0.0  Tyynenmerenkatu 8 2019-08-19 00:08:00
..          ...     ...                ...                 ...
716    2.054701     1.1         Paalaituri 2019-08-19 23:52:00
717    2.044295     1.1         Paalaituri 2019-08-19 23:54:00
718    2.035521     1.1         Paalaituri 2019-08-19 23:56:00
719    2.025984     1.1         Paalaituri 2019-08-19 23:58:00
720    2.022520     1.1         Paalaituri 2019-08-20 00:00:00

[5768 rows x 4 columns]

In [276]:
pd.date_range(start='19/8/2019', end='20/8/2019',freq="120s")

DatetimeIndex(['2019-08-19 00:00:00', '2019-08-19 00:02:00',
               '2019-08-19 00:04:00', '2019-08-19 00:06:00',
               '2019-08-19 00:08:00', '2019-08-19 00:10:00',
               '2019-08-19 00:12:00', '2019-08-19 00:14:00',
               '2019-08-19 00:16:00', '2019-08-19 00:18:00',
               ...
               '2019-08-19 23:42:00', '2019-08-19 23:44:00',
               '2019-08-19 23:46:00', '2019-08-19 23:48:00',
               '2019-08-19 23:50:00', '2019-08-19 23:52:00',
               '2019-08-19 23:54:00', '2019-08-19 23:56:00',
               '2019-08-19 23:58:00', '2019-08-20 00:00:00'],
              dtype='datetime64[ns]', length=721, freq='120S')